.checkout-page {
    margin: 10px;
}

.customer-info {
    text-align: left;
}

.get-pizza {
    text-align: left;
}

.order-table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-collapse: collapse;
}

.order-table, .order-table th, .order-table td {
    border: 2px solid black;
}

.order-table th {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #972a31;
    color: white;
}

.order-table tr:nth-child(even){
    background-color: lightgray;
}

.order-table td {
    padding: 10px;
}

.submit-order {
    border-radius: 8px;
    padding: 14px 40px;
    font-size: 18px;
    background-color: darkolivegreen;
    color: white;
}

.submit-order:hover {
    background-color: olive;
}

